<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.teamfopo.fopo"
          android:versionCodeMajor="1"
          android:versionCode="1"
          android:versionName="Cymbidium">
    <!--
    Flower's name
    https://m.blog.naver.com/miskim1357/220807512636
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--
 This tag indicates that this application requires ARCore. This results in the application
        only being visible in the Google Play Store on devices that support ARCore.
    -->
    <uses-feature
            android:name="android.hardware.camera.ar"
            android:required="true"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".MyInfoActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".FriendInformActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <!--
         This tag indicates that this application requires ARCore. This results in the
            application only being visible in the Google Play Store on devices that support
            ARCore.
        -->
        <meta-data
                android:name="com.google.ar.core"
                android:value="required"/>
        <!--
            Android 정책이 변경되어 Android Version 9.0 (Pie OS) 부터 https로만 통신이 가능하여
            레거시 프로토콜을 지원하는 라이브러리를 추가
        -->
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".MainActivity"
                android:enabled="true"
                android:exported="true"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".AuthActivity"
                android:label="@string/app_name"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".ViewActivity"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
        <activity
                android:name=".WriteActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".AboutActivity"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
                android:name=".PassportActivity"
                android:enabled="true"
                android:exported="true"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <provider
                android:name="android.support.v4.content.FileProvider"
                android:authorities="com.teamfopo.fopo.provider"
                android:exported="false"
                android:grantUriPermissions="true">
            <meta-data
                    android:name="android.support.FILE_PROVIDER_PATHS"
                    android:resource="@xml/provider_paths"/>
        </provider>

        <service
                android:name=".module.FOPOService"
                android:enabled="true"
                android:exported="true"/>
        <service
                android:name=".module.RestartService"
                android:enabled="true"
                android:exported="true"/>

        <receiver android:name=".module.AlarmRecever"/>
        <receiver
                android:name=".module.RebootRecever"
                android:enabled="true"
                android:exported="false"
                android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>